@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%; 
    color: var(--dark1);
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    color: var(--dark1);
    margin: 0;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;
    color: var(--dark1);
}
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: var(--dark1);
    margin: 0;
}
h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%; 
    color: var(--dark1);
    margin: 0;
}
.Regular-X{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--dark1);
}
.Regular-M{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%; 
    color: var(--dark1);
}
.Regular-S{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%; 
    color: var(--dark1);
}
.Medium-M{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark1);
}
.Medium-S{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%; 
    color: var(--dark1);
}
.link{
    text-decoration-line: underline;
    transition: color 0.2s ease;
    color: var(--dark1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%; 
}
.link:hover{
    color:var(--secondary);
}
